<form (ngSubmit)="onSubmit()">
    <div class="example-container">
        <mat-form-field>
            <mat-label>Enter your username</mat-label>
            <input matInput placeholder="user123" [formControl]="username" required>
            @if (username.invalid) {
                <mat-error>{{getErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit">Login</button>
    </div>
</form>
