
<form (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="pic2"></div>
        <img src="assets/tritux-logo-site-2.png" alt="">
        <h1>Welcome! Please Log In</h1>
        <div class="inp">
            <input matInput [formControl]="username" name="username" required>
            <label for="Username">Username</label>
        </div>
        <div class="inp">
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" name="password" required>
            <label for="Password">Password</label>
        </div>
        <div style="display: flex;"><a href="">Forgot Password? - Support</a></div>
        <button type="submit">Login</button>
    </div>
    <div class="pic"></div>
</form>
